@import 'src/styles/partials/mixins';

.autoScrollMenu {
  .scrollBtn,
  .scrollSpeed {
    @include action-btn;
    box-shadow: 0 0 10px rgba($black, 0.7);
  }

  .scrollBtn {
    height: 3rem;
    width: 3rem;
    bottom: 1rem;
    left: 1rem;
  }

  .scrollSpeed {
    height: 202px;
    width: 3rem;
    bottom: 4.4rem;
    left: 1rem;
    transition: height 300ms ease-in-out;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    overflow: hidden;
  
    button {
      cursor: pointer;
      background-color: transparent;
      border: 0;
      color: $white;
      text-transform: uppercase;
      padding: 0.35rem 0;
  
      &.active {
        font-weight: 700;
      }
    }
  
    &Collapsed {
      height: 0;
    }
  }
}
