.mediaContainer {
  .media {
    box-sizing: border-box;
    max-width: calc(100vw / 5);

    @media only screen and (max-width: 2560px) {
      max-width: calc(100vw / 4);
    }

    @media only screen and (max-width: 1920px) {
      max-width: calc(100vw / 3);
    }

    @media only screen and (max-width: 1280px) {
      max-width: calc(100vw / 2);
    }

    @media only screen and (max-width: 640px) {
      max-width: calc(100vw / 1);
    }
  }
}