@import 'src/styles/partials/colors';
@import 'src/styles/partials/mixins';

.app {
  &Content {
    margin: 1rem;
    margin-bottom: 46px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    .column {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .media {
      &Wrapper {
        display: flex;
        justify-content: center;
      }

      &Btn {
        margin: 0.3rem;
        border: 0;
        padding: 0;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}